aws_region   = "us-east-1"
project_name = "devops-portfolio"
environment  = "prod"

github_org  = "YOUR_GITHUB_ORG"
github_repo = "YOUR_GITHUB_REPO"

sns_alarm_email = ""

# db_instance_class = "db.t4g.small"
# desired_count     = 2
